<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        <div class="nav-search">
            <input type="search" name="nav-search" placeholder="Buscar productos,marcas y más...">
            <input type="submit" value="nav-search button">
        </div>
        
        <div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Ofertas</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Tiendas Oficiales</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Vender</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Ayuda</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Creá tu cuenta</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Ingresá</a></li>
                <li><a href="http://" target="_blank" rel="noopener noreferrer">Mis compras</a></li>
            </ul>
        </nav>

    </header>
    <main></main>
    <footer></footer>
</body>
</html>