<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc34d5e83e.js" crossorigin="anonymous"></script>
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <div class="nav-search">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">

            <input type="search" name="nav-search" placeholder="Buscar productos,marcas y más...">


            <h2 class="cuerpo-texto">
             
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <nav class="menu">
            <ul>
                <li class="titulares"><a href="#" target="_blank">Ofertas</a></li>
                <li class="titulares"><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li class="titulares"><a href="#" target="_blank">Vender</a></li>
                <li class="titulares"><a href="#" target="_blank">Ayuda</a></li>
                <li class="titulares"><a href="#" target="_blank">Creá tu cuenta</a></li>
                <li class="titulares"><a href="#" target="_blank">Ingresá</a></li>
                <li class="titulares"><a href="#" target="_blank">Mis compras</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <img src="images/img-home-banner.jpg" alt="img-home-banner">
        <h2>Basado en tu última visita</h2>

        <img src="images/img-cafetera-moulinex.jpg" alt="imagen-cafetera">
        <h4 class="precios">$6.770</h4>
        <h4 class="descuento-precio">40% off</h4>
        <h3 class="descuento-precio">Cafetera Moulinex</h3>

        <img src="images/img-macbook-pro-2019.jpg" alt="imagen-macbook">
        <h4 class="precios">$230.000</h4>
        <h4 class="descuento-precio">20% off</h4>
        <h3 class="descuento-precio">MacBook Pro 2019</h3>

        <img src="images/img-samsung-galaxy-s10.jpg" alt="imagen-galaxys10">
        <h4 class="precios">$70.500</h4>
        <h4 class="descuento-precio">10% off</h4>
        <h3 class="descuento-precio">Samsung Galaxy S10</h3>
    </main>
    <footer>
        <h3> Pagá con tarjeta o en efectivo </h3>
        <p class="cuerpo-texto"> Con MercadoLiebreCash tenés cuotas sin<br>
            interés con tarjeta o efectivo en puntos de<br>
            pago. ¡Y siempre es seguro!</p>

        <h3> Envio gratis desde los $ 2.500</h3>  
        <p class="cuerpo-texto"> Solo por estar registrado en Mercado Liebre<br>
        tenés envios gratis en miles de productos. Es<br>
        un beneficio de Mercado Puntos.</p>

        <h3> Seguridad de principio a fin</h3>
        <p class="cuerpo-texto"> ¿No te gusta? Devolvelo! En MercadoLiebre<br>
        no hay nada que no puedas hacer porque estás<br>
        siempre protegid@</p><br>

        Copyright © 1999-2020 MercadoLiebre S.R.L

    </footer>
</body>
</html>