<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc34d5e83e.js" crossorigin="anonymous"></script>    
    <title>MercadoLiebre</title>
</head>
<body>
    <header class="main-header">
        <nav class="nav-search">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            <input class="barra-busqueda" type="search" name="nav-search" placeholder="Buscar productos,marcas y más...">
            <a href="#" class="button-lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <h2 class="cuerpo-texto">
                <i class="fa-solid fa-hand-holding-dollar" id="logo-envio"></i>Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </nav>
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="nav-links">
            <ul class="left-navbar">
                <li class="titulares"><a href="#" target="_blank">Ofertas</a></li>
                <li class="titulares"><a href="#" target="_blank">Tiendas Oficiales</a></li>
                <li class="titulares"><a href=" #" target="_blank">Vender</a></li>
                <li class="titulares"><a href="#" target="_blank">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li class="titulares"><a href="#" target="_blank">Creá tu cuenta</a></li>
                <li class="titulares"><a href="#" target="_blank">Ingresá</a></li>
                <li class="titulares"><a href="#" target="_blank">Mis compras</a></li>
            </ul>
        </nav>

    </header>
    <main>      
        <img class="imagen-banner" src="images/img-home-banner.jpg" alt="img-home-banner">
        

        <div class="titulo-main">
            <h2 >Basado en tu última visita</h2>
        </div>

        <section class="articulos">
            <div class="tarjetas">
            <img class="img-articulos" src="images/img-cafetera-moulinex.jpg" alt="imagen-cafetera">
            <div class="precio-tarjeta">
                <h4 class="precios">$6.770</h4>
                <h4 class="descuento-precio">40% off</h4>
            </div>
            <h3 class="descuento-precio">Cafetera Moulinex</h3>
            </div>

            <div class="tarjetas">
            <img class="img-articulos" src="images/img-macbook-pro-2019.jpg" alt="imagen-macbook">
            <div class="precio-tarjeta">
                <h4 class="precios">$230.000</h4>
                <h4 class="descuento-precio">20% off</h4>
            </div>
            <h3 class="descuento-precio">MacBook Pro 2019</h3>
            </div>

            <div class="tarjetas">
            <img class="img-articulos" src="images/img-samsung-galaxy-s10.jpg" alt="imagen-galaxys10">
            <div class="precio-tarjeta">
                <h4 class="precios">$70.500</h4>
                <h4 class="descuento-precio">10% off</h4>
            </div>
            <h3 class="descuento-precio">Samsung Galaxy S10</h3>
            </div>

            <div class="tarjetas">
            <img class="img-articulos" src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
            <div class="precio-tarjeta">
                <h4 class="precios">$23.200</h4>
                <h4 class="descuento-precio">5% off</h4>
            </div>

            <h3 class="descuento-precio">SmartTv Samsung 43"</h3>
            </div>
    </section>
    </main>
    <footer>
        <h3> Pagá con tarjeta o en efectivo </h3>
        <p class="cuerpo-texto"> Con MercadoLiebreCash tenés cuotas sin<br>
            interés con tarjeta o efectivo en puntos de<br>
            pago. ¡Y siempre es seguro!</p>

        <h3> Envio gratis desde los $ 2.500</h3>  
        <p class="cuerpo-texto"> Solo por estar registrado en Mercado Liebre<br>
        tenés envios gratis en miles de productos. Es<br>
        un beneficio de Mercado Puntos.</p>

        <h3> Seguridad de principio a fin</h3>
        <p class="cuerpo-texto"> ¿No te gusta? Devolvelo! En MercadoLiebre<br>
        no hay nada que no puedas hacer porque estás<br>
        siempre protegid@</p><br>

        Copyright © 1999-2020 MercadoLiebre S.R.L

    </footer>
</body>
</html>