* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eac926;
}

.cuerpo-texto {
    font-size: 12px;
}

.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuento-precio {
    font-size: 16px;
}

#icono {
    width: 20px;
}